body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
.navbar {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.green {
    color: #5cb85c;
}
.thumbs {
    padding: 40px 0;
}
.thumbnail > img {
    max-width: 60%;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
img.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
