<!DOCTYPE html>
<html>
    <head>
        <title>Hungry</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div class="row">
            <div class="container">
                <img src="{{ url_for('static', filename='img/milk.jpg')}}">
                <p>I'm hungry and am missing a little something...</p>
            </div>
        </div>
    </body>
</html>
